[buildout]
extends =
    versions.cfg
extensions = mr.developer
show-picked-versions = true
auto-checkout =
    sphinx.plonetheme
sources = sources
parts =
    sphinx
    generatebook

[sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    sphinx.plonetheme

[generatebook]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/generate_book.sh
mode = 755
input = inline:
    #!/bin/bash
    cd ${buildout:directory}/integrateur
    make clean > /dev/null
    make html > /dev/null 2>&1
    if [ $? == 0 ]; then
      rm -rf ${buildout:directory}/docs/integrateur
      cp -rf ${buildout:directory}/integrateur/build/html/ ${buildout:directory}/docs/integrateur
    else
      echo "integrateur html generation failed"
    fi
    make latex > /dev/null 2>&1
    if [ $? == 0 ]; then
      cd ${buildout:directory}/integrateur/build/latex
      make all-pdf > /dev/null 2>&1
      if [ $? == 0 ]; then
        cp ${buildout:directory}/integrateur/build/latex/FormationPloneIntegrateur.pdf ${buildout:directory}/docs/integrateur/
      else
        echo "integrateur pdf generation failed"
      fi
    else
      echo "integrateur latex generation failed"
    fi
    cd ${buildout:directory}/developpeur/
    make clean > /dev/null
    make html > /dev/null 2>&1
    if [ $? == 0 ]; then
      rm -rf ${buildout:directory}/docs/developpeur/
      cp -rf ${buildout:directory}/developpeur/build/html/ ${buildout:directory}/docs/developpeur
    else
      echo "developpeur html generation failed"
    fi
    make latex > /dev/null 2>&1
    if [ $? == 0 ]; then
      cd ${buildout:directory}/developpeur/build/latex
      make all-pdf > /dev/null 2>&1
      if [ $? == 0 ]; then
        cp ${buildout:directory}/developpeur/build/latex/FormationPloneDeveloppeur.pdf ${buildout:directory}/docs/developpeur/
      else
        echo "developpeur pdf generation failed"
      fi
    else
      echo "developpeur latex generation failed"
    fi
    cp ${buildout:directory}/index.html ${buildout:directory}/docs/

[sources]
sphinx.plonetheme = git git://github.com/toutpt/sphinx.plonetheme.git
